@import '../../index.scss';
.container-home {
  height: 100vh;
  background-color: #f8f2f2;
  .Header {
    @include flex();
    background-color: #fff;
    box-shadow: 0 0.1rem 0.5rem #000;
    justify-content:space-around;
    h3 {
      font-size: 1.8rem;
    }
    ul {
      @include flex();
      gap: 2rem;
      font-size: 1.2rem;
    }
  }
}