$margin-size: 20px;

@mixin input-size {
  width: 30vw;
  height: 5vh;
}

@mixin flex {
  display: flex;
  align-items: center;
}

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}